@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@layer base {
  body {
    @apply bg-primary-main text-[16px]  overflow-x-hidden;
  }
}

@layer components {
  .main-content {
    @apply lg:max-w-[1140px] mx-auto 2xl:max-w-[1320px];
  }
  .account_card {
    @apply w-full h-[251px];
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
  }
  .add_account_card {
    @apply w-full h-[251px];
    background: #ffffff;
    border-radius: 10px !important;
  }
}
